

<h2>FAQ</h2> - Perguntas Frequentes (Frequent Asked Questions)


<h3>Como transferir chamadas?</h3>



<h3>Como criar conferencia?</h3> 




<h3>Como habilitar desvio de chamadas?</h3> 




*Ramal analógico: Tecle “flash” + o numero do ramal desejado. *Ramal digital ou IP: Selecionar a Opção “Consulta ?” no visor + o numero do ramal. 



*Captura em grupo Teclar “*” (Asterisco) *Captura Especifica Teclar “#59” + o numero do ramal. *Desvio de Chamadas Ramal analógico: Teclar “14” + o numero do ramal + Ramal digital ou IP: Teclar “14” + o numero do ramal + “OK”. *Cancelar desvio de chamadas: Ramal analógico: Teclar “104”. Ramal digital ou IP: Teclar “104” + “OK”. *Conferencia: É possível adicionar uma ou mais partes à sua conversa. *Ramal analógico: Durante a primeira chamada efetuada ou recebida teclar “flash” + o numero de destino após o atendimento teclar “flash” + 3. *Ramal digital ou IP: Durante a primeira chamada efetuada ou recebida Selecionar a Opção “Conferencia ?” no visor + o numero de destino após o atendimento Selecionar a Opção “Conferencia ?” no visor.